<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Movie AI{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v='2') }}">

</head>

<body>

{% if session.get('user_id') %}
<nav class="navbar">

    <a href="{{ url_for('dashboard') }}" class="logo">
        🎬 Movie AI
    </a>

    <div class="menu">

        <a href="{{ url_for('dashboard') }}">🏠 Home</a>

        <a href="{{ url_for('recommend_page') }}">🎥 Recommend</a>

        <a href="{{ url_for('favorites') }}">❤️ Favorites</a>

        <a href="{{ url_for('watchlist') }}">📺 Watchlist</a>

        <a href="{{ url_for('logout') }}" class="logout-btn">🚪 Logout</a>

    </div>

</nav>
{% endif %}

<div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

                <div class="flash">
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>

</html>