Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
gunicorn==23.0.0
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1
scikit-learn==1.5.1
requests==2.32.3
python-dotenv==1.1.1
Werkzeug==3.1.3
